﻿@model IEnumerable<Site_Barbearia.Database.Entity.tb_servico>

@{
    ViewBag.Title = "Consultar Serviço";
}

<h2>ConsultarServiço</h2>

<p>
    @Html.ActionLink("Criar Novo", "NovoAtendimento")
</p>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.dt_servico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vl_servico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hr_servico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_cliente.nm_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_corte.nm_corte)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.dt_servico.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vl_servico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hr_servico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_cliente.nm_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_corte.nm_corte)
            </td>

            <td>
                @Html.ActionLink("Alterar Serviço", "AlterarServiço", new { id = item.id_servico }) |
                @Html.ActionLink("Remover Serviço", "RemoverServiço", new { id = item.id_servico })
            </td>
        </tr>
    }

</table>
