﻿@model Site_Barbearia.Database.Entity.tb_servico

@{
    ViewBag.Title = "Novo Atendimento";
}

<h2>NovoAtendimento</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.tb_cliente.nm_cliente, "Seu Nome:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tb_cliente.nm_cliente, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tb_cliente.nm_cliente, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.dt_servico, "Data desejada:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dt_servico, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dt_servico, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.vl_servico, "Serviço:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id=Valor style="font-size: 17px">
                <option>Selecione o corte</option>
                <option>Relaxamento	- R$ 25,00</option>
                <option>Limpeza de Sombrancelha - R$20,00</option>
                <option>Cortes em Geral - R$50,00</option>
                <option>Cortes Infantis	- R$ 35,00</option>
                <option>Barba - R$45,00 </option>
                <option>Pezinho	- R$25,00 </option>
                <option>Progressiva	- R$ 50,00</option>
                <option>Escova	- R$ 25,00</option>
                <option>Combo (Barba+Cabelo)- R$ 90,00</option>
                <option>(Barba+Cabelo+Progressiva)- R$ 140,00</option>
            </select>
        </div>
        @Html.ValidationMessageFor(model => model.vl_servico, "", new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.hr_servico,"Hora desejada", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.hr_servico, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.hr_servico, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cadastrar Serviço" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Ir para lista","ConsultarServiço", "Serviços")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
