﻿@model Site_Barbearia.Database.Entity.tb_servico

@{
    ViewBag.Title = "RemoverServiço";
}

<h2>RemoverServiço</h2>

<h3>Tem certeza que quer remover esse serviço?</h3>
<div>
    <h4>tb_servico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nm_responsavel_servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nm_responsavel_servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vl_servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vl_servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hr_servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hr_servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_cliente.nm_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_cliente.nm_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_corte.nm_corte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_corte.nm_corte)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a lista", "ConsultarServiço","Serviços")
        </div>
    }
</div>
