﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

Layout {
    min-height: 100vh;
    background-image: linear-gradient(120deg,#ee5253,#222f3e,#0abde3,#f1f2f6);
}

.Layout {
    min-height: 100vh;
    background-color: #ff3f34,#0fbcf9,#d2dae2,#485460;
}