﻿@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4 style="font-size:30px">Nossa História</h4>

<p>
    A idéia de abrir um negócio foi de um dos sócios, mas não queria fazer isso sozinho então ela resolveu chamar os amigos, que assim como ela tinha experiência.
    Combinaram de se encontrar para discutir sobre o assunto, todos deram idéias e depois de muito tempo discutindo chegaram a um acordo.
    No primeiro momento a intenção era fazer um salão feminino, mas já é algo comum então apenas mudamos o público alvo para o masculino que hoje em dia os homens estão se cuidando mais e procurando um lugar para sua transformação.
    Com essa decisão criaram uma barbearia com 3 barbeiros, 1 Aux de limpeza, 1 recepcionista, 1 Balconista de bar e 1 gerente. O nome The Barber's House foi escolhido para que todos se sintam em casa e confortáveis.
</p>

<br />
<h5 style="font-size:25px">Missão</h5>

<br />
<p>A missão da nossa empresa é oferecer a melhor qualidade de atendimento possível, com diversão e petiscos ou bebidas para nossos clientes.</p>
<br />
<h6 style="font-size:25px">Visão</h6>

<br />
<p>A visão da nossa empresa é expandir para todo o país, sendo reconhecidos mundialmente  por termos um ótimo trabalho.</p>
<br />

<h7 style="font-size:25px">Valores</h7>
<br />
<br />
<p>- buscar constantemente a satisfação de nossos clientes;</p>
<p>- ter respeito ao ambiente;</p>
<p>- Responsabilidade é ética;</p>
<p>- Respeitar a todos;</p>
<p>- Sempre fazer as coisas pensando no crescimento da empresa;</p>
<p>- Sempre seguir a regra "O cliente tem sempre razão";</p>
<p>- Dar ao cliente  toda atenção que ele precisa.</p>
