﻿@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<address align="left">
    <p style="font-size:20px">Para qualquer dúvida?</p>
    <strong>Email:</strong><br /><p>TheBarber`sHouse@gmail.com</p><br />
</address>

<address align="left" style="font-size:20px">
    Rua Wisord - Vila Mariana N°33<br />
    São Paulo, SP<br />

</address>