﻿@{
    ViewBag.Title = "Pagína Inicial";
}

<div class="body-content">
<div class="jumbotron">
    <h1 style="font-size:35px">Bem-Vindo a The Barber´s House</h1>
</div>

<div class="jumbotron" align="left">
    <h1 style="font-size:30px">Cortes</h1>
    <br />
    <br />
    <h1 style="font-size: 20px">Cortes em Geral - R$50,00</h1>
    <br />
    <h2 style="font-size: 20px">Cortes Infantis	- R$ 35,00</h2>
    <br />
    <h3 style="font-size: 20px">Barba	- R$45,00 	</h3>
    <br />
    <h4 style="font-size: 20px">Pezinho	- R$25,00 </h4>
</div>

<div class="jumbotron" align="left">
    <h1 style="font-size:30px">Outros procedimentos</h1>
    <br />
    <br />
    <h1 style="font-size: 20px">Relaxamento	- R$ 25,00 	</h1>
    <br />
    <h2 style="font-size: 20px">Limpeza de Sombrancelha - R$20,00 </h2>
    <br />
    <h3 style="font-size: 20px">Progressiva	- R$ 50,00 </h3>
    <br />
    <h4 style="font-size: 20px">Escova - R$ 25,00</h4>
</div>

<div class="jumbotron" align="left">
    <h1 style="font-size:30px"> Combos</h1>
    <br />
    <br />
    <h1 style="font-size: 20px">Combo (Barba+Cabelo) - R$ 90,00</h1>
    <br />
    <h2 style="font-size: 20px">Combo (Barba+Cabelo+Progressiva)- R$ 140,00</h2>
</div>
</div>

